{% extends "wagtailadmin/shared/header_with_locale_selector.html" %}
{% load wagtailadmin_tags i18n %}

{% block extra_rows %}
    <!--
    <div class="row last-updated">
        {% if latest_log_entry %}
            <ul>
                <li>
                    <span class="avatar small" data-wagtail-tooltip="{{ latest_log_entry.user_display_name }}"><img src="{% avatar_url latest_log_entry.user size=25 %}" alt="" /></span>
                    {% trans "Last updated" %}
                    {% include "wagtailadmin/shared/last_updated.html" with last_updated=latest_log_entry.timestamp time_prefix="at" %}
                </li>
                {% if history_url %}
                    <li><a href="{{ history_url }}">{% icon "history" class_name="default" %} {% trans "History" %}</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
    -->
    <div class="row">
        {% if soap %}
        <table>
            <tr>
                <td><strong>Last Visit</strong></td><td>:</td><td> {{ soap.datetime }}</td>
            </tr>
            <tr>
                <td><strong>Subjective</strong></td><td>:</td><td> {{ soap.subjective }}</td>
            </tr>
            <tr>
                <td><strong>Objective</strong></td><td>:</td><td> {{ soap.objective }}</td>
            </tr>
            <tr>
                <td><strong>Assessment</strong></td><td>:</td><td> {{ soap.assessment }}</td>
            </tr>
            <tr>
                <td><strong>Plan</strong></td><td>:</td><td> {{ soap.plan }}</td>
            </tr>
        {% if soap.additional_info %}
            <tr>
                <td><strong>Info</strong></td><td>:</td><td> {{ soap.additional_info }}</td>
            </tr>
        {% endif %}
        {% if instance.is_bpjs %}
            <tr>
                <td><strong>Assessment BPJS</strong></td><td>:</td><td> {{ soap.assessment_bpjs }}</td>
            </tr>
        {% endif %}
        </table>
        {% else %}
        <span><strong>No Visit</strong></span>
        {% endif %}

    </div>
<!--
    <div class="row">
        <a href="{{ add_soap }}" class="button button-secondary" title="Edit this patient">Add SOAP</a>
        <a href="{{ list_soap }}" class="button button-secondary" title="Edit this patient">List SOAP</a>
    </div>
-->
{% endblock %}
